# Node modules (frontend)
node_modules/

# Dependency lockfiles (optional, keep if needed)
*.log
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
*.env.local

# Build output
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Python cache (if any root Python scripts)
__pycache__/
*.py[cod]

# Global log/debug/cache
npm-debug.log*
pip-log.txt
coverage/

# large media files 
media/
backend/static/


#  ARCHIVES & COMPRESSED FILES 
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz
*.txz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.lz
*.lzma
*.Z
*.cab
*.iso
*.dmg
*.xz
*.lz4
*.zst
