# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/

# Environment variables and secrets
.env
*.env

# json configuration files 
*.json


# Flask-related files
instance/
*.sqlite
*.db
*.log

# IDE and editor junk
.vscode/
.idea/

# MacOS / Windows
.DS_Store
Thumbs.db


# large folders ( content that will be served from cdn)
video/
backend/static # contains media files that can be ignored and added manually

#  ARCHIVES & COMPRESSED FILES 
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz
*.txz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.lz
*.lzma
*.Z
*.cab
*.iso
*.dmg
*.xz
*.lz4
*.zst


# === SERVER TEMP FILES ===
backend/tmp/
backend/tmp/**

# Optional: Ignore temp/cache/log folders if used
backend/cache/
backend/logs/
backend/.cache/
backend/.tmp/
